flows/AccountUpdateFlow-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>AssignmentToAccount</name>
        <label>AssignmentToAccount</label>
        <locationX>345</locationX>
        <locationY>162</locationY>
        <assignmentItems>
            <assignToReference>AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountRecord.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <choices>
        <name>Current_Value_From_Record</name>
        <choiceText>Current Value</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>AccountRecord.Type</elementReference>
        </value>
    </choices>
    <dynamicChoiceSets>
        <name>AccountTypePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>AccountUpdateFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AccountUpdateFlow</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>AccountRecrod</name>
        <label>AccountRecrod</label>
        <locationX>18</locationX>
        <locationY>167</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AccountUpdate</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>AccountRecord.SLASerialNumber__c</assignToReference>
            <field>SLASerialNumber__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AccountRecord.Type</assignToReference>
            <field>Type</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>AccountUpdate</name>
        <label>AccountUpdate</label>
        <locationX>173</locationX>
        <locationY>164</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AssignmentToAccount</targetReference>
        </connector>
        <fields>
            <name>AccountIdOutput</name>
            <fieldText>Account Id is {!AccountId}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Test_INput_box</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>AccountRecord.SLASerialNumber__c</elementReference>
            </defaultValue>
            <fieldText>Test INput box</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Account_Type</name>
            <choiceReferences>Current_Value_From_Record</choiceReferences>
            <choiceReferences>AccountTypePicklist</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Current_Value_From_Record</defaultSelectedChoiceReference>
            <fieldText>Account Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <startElementReference>AccountRecrod</startElementReference>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>AccountRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>InputValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
